[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".local/src/dragon"]
	path = .local/src/dragon
	url = https://github.com/mwh/dragon.git
